/*

!.gitignore
!backup
!fonts
!htop
!kitty
!neofetch
!nvim
!neovim_old
!yabai
!ranger
!skhd
!wal
!alacritty.yaml
!.zshrc
!nv.sh
!emacs-tree-sitter
!wal
!README.org
!.p10k.zsh
!oh-my-zsh-custom
!sketchybar
!.wezterm.lua
!.raycast
!karabiner
!aerospace
!wezterm
!helix
!gitu
!raycast


.DS_Store
