/*

!.gitignore
!backup
!fonts
!htop
!kitty
!neofetch
!nvim
!neovim_old
!yabai
!ranger
!skhd
!wal
!alacritty.yaml
!.zshrc
!nv.sh
!emacs-tree-sitter
!wal
!README.org
!.p10k.zsh
!oh-my-zsh-custom
!sketchybar
!.wezterm.lua
!.raycast
!karabiner
!aerospace
!wezterm
!helix
!gitu
!raycast
!zellij
!launchagents
!opencode
opencode/plugin
!home-manager
!fish

.DS_Store

# Ignore backup files created by scripts/editors
# Note: .gitignore doesn't support brace expansion like {number}?
# These patterns cover .bak, .backup, and numbered variants (.bak1, .bak2, ...)
**/*.bak
**/*.backup
**/*.bak[0-9]*

# Raycast compiled extensions
raycast/extensions/**/*.js
raycast/extensions/**/*.js.map
